<div id="sidebar">

	<h1 class="site-title">
		<% link_to '/index.html' do %>
			<%= data.site.info.title %>
		<% end %>
	</h1>

	<% if data.site.info.description %>
		<h2 class="site-description">
			<%= data.site.info.description %>
		</h2>
	<% end %>

	<div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">
		<div class="menu-main-nav-container">
			<ul id="menu-main-nav" class="menu">

				<li class="menu-item<% if current_page.path == 'about.html' %> current-menu-item<% end %>">
					<%= link_to 'About', '/about.html' %>
				</li>

				<li class="menu-item<% if current_page.path == 'contact.html' %> current-menu-item<% end %>">
					<%= link_to 'Contact', '/contact.html' %>
				</li>

				<li class="menu-item menu-item-has-children<% if current_page.path == 'portfolio/index.html' %> current-menu-item<% end %>">

					<%= link_to 'Portfolio', '/portfolio/index.html' %>

					<ul class="sub-menu">

					<% sitemap.find_resource_by_path('portfolio/index.html').children.each do |category| %>
						<% if not category.options[:ignore] %>

						<li class="menu-item<% if category.children %> menu-item-has-children<% end %><% if current_page.path == category.path %> current-menu-item<% end %>">

							<%= link_to category.locals[:category]['name'], "/#{category.path}" %>

							<% if category.children %>

							<ul class="sub-menu">

								<% category.children.each do |gallery| %>

								<li class="menu-item<% if current_page.path == gallery.path %> current-menu-item<% end %>">
									<%= link_to gallery.locals[:gallery]['name'], "/#{gallery.path}" %>
								</li>

								<% end %>

							</ul>

							<% end %>

						</li>

						<% end %>
					<% end %>

					</ul>

				</li>

			</ul>

		</div>
	</div>

</div>
