<div id="sidebar">

	<div class="mobile-nav">

		<h1 class="site-title">
			<% link_to '/index.html' do %>
				<%= data.site.info.title %>
			<% end %>
		</h1>

		<% if data.site.info.description %>
			<h2 class="site-description">
				<%= data.site.info.description %>
			</h2>
		<% end %>

		<button id="menu-collapse-button" class="collapsed">
			<span>&nbsp;</span>
			<span>&nbsp;</span>
			<span>&nbsp;</span>
		</button>

	</div>

	<nav id="menu-main-nav">
		<ul class="menu">

			<% photo_page = sitemap.find_resource_by_path('portfolio/index.html') %>

			<li class="menu-item menu-item-has-children<% if current_page.path == photo_page.path %> current-menu-item<% end %>">

				<%= link_to photo_page.data.title, "/#{photo_page.path}" %>

				<ul class="sub-menu">

				<% photo_page.children.each do |category| %>
					<% if not category.options[:ignore] %>

					<li class="menu-item<% if category.children %> menu-item-has-children<% end %><% if current_page.path == category.path %> current-menu-item<% end %>">

						<%= link_to category.locals[:category]['name'], "/#{category.path}" %>

						<% if category.children %>

						<ul class="sub-menu">

							<% category.children.each do |gallery| %>

							<li class="menu-item<% if current_page.path == gallery.path %> current-menu-item<% end %>">
								<%= link_to gallery.locals[:gallery]['name'], "/#{gallery.path}" %>
							</li>

							<% end %>

						</ul>

						<% end %>

					</li>

					<% end %>
				<% end %>

				</ul>

			</li>

		</ul>

	</nav>

</div>
