<h1><%= category.name %></h1>

<ul class="galleries">
<% current_page.children.each do |child| %>
	
	<% gallery = child.locals[:gallery] %>
	<% featuredImage = gallery.images[0] %>

	<li>
		<% link_to "/#{child.path}" do %>
			<img src="<%= image_path "portfolio/#{gallery.slug}/#{featuredImage.file}", :resize_to => 'x350>' %>" srcset="<%= image_path "portfolio/#{gallery.slug}/#{featuredImage.file}", :resize_to => 'x350>' %> 1x, <%= image_path "portfolio/#{gallery.slug}/#{featuredImage.file}", :resize_to => 'x700>' %> 2x" />
			<span class="name"><%= gallery.name %></span>
		<% end %>
	</li>
<% end %>
</ul>
